mixin flash()
    if messages.success && messages.success.length
        blockquote
            em= 'Success! ' + messages.success.join(', ')
    if messages.error && messages.error.length
        blockquote
            em= 'Error! ' + messages.error.join(', ')