extends components/base

include components/flash

block main
    +flash()

    section
        form(action='/api/consumer', method='post')

            h3 Add Consumer

            fieldset
                label(for='name') Name
                input(type='text', name='name', placeholder='name' autocorrect='off', spellcheck='false', autocapitalize='off', autofocus='true')#name

                label(for='description') Description 
                input(type='text', name='description', placeholder='description' autocorrect='off', spellcheck='false', autocapitalize='off', autofocus='true')#description

                label(for='redirects') Redirects
                input(type='text', name='redirects', placeholder='redirects' autocorrect='off', spellcheck='false', autocapitalize='off', autofocus='true')#redirects

                input(type='submit', value='Submit').button-outline
