extends components/base

include components/flash

block main
    +flash()

    section
        form(action='/change', method='post')

            h3 Change Password

            fieldset
                label(for='password')#password-label-login Current Password
                input(type='password', name='password')#password-login

                label(for='new-password')#new-password-label-login New Password
                input(type='password', name='new-password')#new-password-login

                input(type='submit', value='Change Password')#submit-login.button-outline