extends components/base

include components/flash

block main
    +flash()

    section
        form(action='/login', method='post')

            h3 Login

            fieldset
                input(type='hidden', name='goto', value=req.query.goto)#goto-login

                label(for='username')#username-label-login Username
                input(type='text', name='username', placeholder='username' autocorrect='off', spellcheck='false', autocapitalize='off', autofocus='true')#username-login

                label(for='password')#password-label-login Password
                input(type='password', name='password')#password-login

                input(type='submit', value='login')#submit-login.button-outline

        form(action='/register', method='post')

            h3 Register

            blockquote.
                Whilst we allow any username to be used, if you use an email you can recover your account at a later point in time!  You can do this #[a(href='/recover') here].

            fieldset
                input(type='hidden', name='goto', value=req.query.goto)#goto-register

                label(for='username')#username-label-register Username
                input(type='text', name='username', placeholder='username' autocorrect='off', spellcheck='false', autocapitalize='off', autofocus='true')#username-register

                label(for='password')#password-label-register Password
                input(type='password', name='password')#password-register

                input(type='submit', value='register')#submit-register.button-outline
